.frame-parent,
.listing-details-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listing-details-section {
  gap: var(--gap-11xl);
}
.frame-parent {
  background-color: var(--color-gray-100);
  padding: var(--padding-xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: 44px;
}
.contact-us3,
.localhost-inc-all3,
.privacy-policy3,
.terms-conditions3 {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contact-us3,
.privacy-policy3,
.terms-conditions3 {
  display: inline-block;
  min-width: 85px;
}
.contact-us3,
.terms-conditions3 {
  min-width: 120px;
}
.contact-us3 {
  min-width: 67px;
}
.bar-content,
.copyright-and-legal,
.legal-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.legal-links {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bar-content,
.copyright-and-legal {
  max-width: 1280px;
}
.copyright-and-legal {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bar-content {
  width: 100%;
  justify-content: center;
}
.band3,
.property-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.band3 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
}
.property-details {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
