.form-wrapper,
.login-sections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.form-wrapper {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.login-sections {
  align-self: stretch;
  justify-content: center;
  padding: 203.5px var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/public/login-sections1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  margin-top: -0.1px;
}
.contact-us1,
.localhost-inc-all1,
.privacy-policy1,
.terms-conditions1 {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contact-us1,
.privacy-policy1,
.terms-conditions1 {
  display: inline-block;
  min-width: 85px;
}
.contact-us1,
.terms-conditions1 {
  min-width: 120px;
}
.contact-us1 {
  min-width: 67px;
}
.privacy-policy-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.band-child,
.localhost-inc-all-rights-res-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1280px;
}
.localhost-inc-all-rights-res-group {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.band-child {
  width: 100%;
  justify-content: center;
}
.band1,
.sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.band1 {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
  z-index: 2;
  margin-top: -0.1px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.sign-in-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  align-items: flex-start;
  padding: 0 0 0.1px;
  line-height: normal;
  letter-spacing: normal;
}
.sign-in-page:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
