.amenities {
  margin: 0;
  width: 780.8px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.mdilake-icon {
  height: 21px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lakeside {
  position: relative;
  display: inline-block;
  min-width: 64px;
}
.amenity-symbols {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.tablertools-kitchen-2-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.kitchen {
  flex: 1;
  position: relative;
}
.additional-amenities {
  width: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.security-cameras-on {
  position: relative;
}
.property-features-icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.wifi {
  position: relative;
  display: inline-block;
  min-width: 27px;
}
.amenitiessection1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl-3) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 195px;
}
.free-parking,
.hot-water,
.outdoor-shower,
.shampoo {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.hot-water,
.outdoor-shower,
.shampoo {
  min-width: 114px;
}
.hot-water,
.shampoo {
  min-width: 68px;
}
.shampoo {
  min-width: 70px;
}
.amenitiessection2 {
  flex: 0.605;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-97xl-3) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 195px;
}
.coffee-maker,
.fire-extinguisher,
.freezer,
.glass-stove {
  position: relative;
  display: inline-block;
  min-width: 120px;
}
.coffee-maker,
.freezer,
.glass-stove {
  min-width: 55px;
}
.coffee-maker,
.glass-stove {
  min-width: 95px;
}
.glass-stove {
  min-width: 84px;
}
.amenitiessection3,
.amenity-categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.amenitiessection3 {
  flex: 0.6303;
  flex-direction: column;
  padding: 0 var(--padding-91xl-3) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 195px;
}
.amenity-categories {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.search-flights-button3 {
  width: 185px;
  height: 48px;
}
.search-flights-button3:hover {
  background-color: var(--color-saddlebrown);
}
.amenities-list,
.amenities-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.amenities-list {
  align-self: stretch;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
}
.amenities-parent {
  flex: 1;
  gap: var(--gap-xl);
  min-width: 547px;
  max-width: 100%;
}
.where-youll-be {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.location-pin-icon {
  height: 11px;
  width: 9.3px;
  position: relative;
}
.the-bridle-path {
  position: relative;
  display: inline-block;
  min-width: 109px;
}
.location-details,
.neighborhood {
  display: flex;
  justify-content: flex-start;
}
.neighborhood {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.location-details {
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.suncloud-icon {
  height: 47px;
  width: 47px;
  position: relative;
}
.temperature,
.weather-detail {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.temperature {
  line-height: 150%;
  font-weight: 600;
  min-width: 38px;
}
.weather-detail {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 93px;
  white-space: nowrap;
}
.weather-info,
.weather-info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weather-info1 {
  flex: 1;
  flex-direction: column;
  padding: 0;
  gap: var(--gap-11xs);
}
.weather-info {
  width: 108px;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.sun-icon {
  width: 40px;
  height: 40px;
  position: relative;
}
.c,
.c-wrapper {
  align-self: stretch;
}
.c {
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sun-parent {
  width: 40px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent6,
.sun-group,
.sun-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.sun-group {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent6 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.map-container,
.weather {
  display: flex;
  flex-direction: row;
}
.weather {
  width: 154px;
  border-radius: var(--br-xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.map-container {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 100%;
  gap: var(--gap-0);
}
.map-placeholder-icon {
  align-self: stretch;
  height: 248px;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.map-actions-icon {
  width: 37px;
  height: 65px;
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 161px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.location-map {
  align-self: stretch;
  flex-direction: column;
  position: relative;
  gap: var(--gap-xl);
}
.location-amenities,
.location-map,
.location-overview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.location-overview {
  width: 480px;
  flex-direction: column;
  min-width: 480px;
}
.location-amenities {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
